<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="fname">First Name</label>
          <input type="text" 
          class="form-control"  
          formControlName="fname"
          name="fname"
          >
        </div>
        <!-- <span class="help-block" *ngIf="!this.signupForm.get('fname').valid && this.signupForm.get('fname').touched">Please enter valid name</span> -->
        <div *ngIf="signupForm.controls['fname'].hasError('required')&& signupForm.controls['fname'].touched" class="alert alert-danger">
          Last Name is required.
        </div>
        <div *ngIf="signupForm.controls['fname'].hasError('pattern')&& signupForm.controls['fname'].touched" class="help-block">
          Please enter alphabets.
        </div>
        <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" 
            name="lname"
            formControlName="lname"
            class="form-control"             
            >           
        </div>
        <span class="help-block" *ngIf="!this.signupForm.get('lname').valid && this.signupForm.get('lname').touched">Please enter Last name</span>
        
        <div class="form-group">
          <label for="age">Age</label>
          <input type="number" 
          name="age"
          formControlName="age"
          class="form-control"             
          >           
      </div>
      
        <div class="form-group">
              <label for="pnumber">Phone Number</label>
              <input type="text" 
              name="pnumber"
              formControlName="pnumber"
              class="form-control"                
              >
        </div>
        <!-- <span class="help-block" *ngIf="!this.signupForm.get('pnumber').valid && this.signupForm.get('pnumber').touched">Please enter valid PhoneNumber</span> -->
        <div *ngIf="signupForm.controls['pnumber'].hasError('required')&& signupForm.controls['pnumber'].touched" class="help-block">
          Phone Number is Required.
        </div>
        <div *ngIf="signupForm.controls['pnumber'].hasError('pattern')&& signupForm.controls['pnumber'].touched" class="help-block">
          Please enter valid Phone Number.
        </div>
        <div class="form-group">
            <select            
            name="select"
            class="form-control"
            [ngModel]="selectedprefix"
            formControlName="prefix">                
                <option [ngValue]="item.value" *ngFor="let item of desigArray">{{item.value}}</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary" [disabled]="!this.signupForm.valid">Submit</button>
      </form>
      <hr>
      <h3>Form Values</h3>
      <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>First Name</th>
                <th>LastName</th>
                <th>Age</th>
                <th>Phone Number</th>
                <th>Designation</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of nameArray">
                <td>{{item.fname}}</td>
                <td>{{item.lname}}</td>
                <td>{{item.age}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.designation}}</td>
              </tr>
            </tbody>
          </table>
        </div>

    </div>
  </div>
</div>